_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.swp
*.DS_Store
.syncthing*
_gemini/
_gopher/
_scripts/__pycache__/
*.log
privkey.pem
smallweb/gemini/config/certs/*.pem
smallweb/gemini/config/logs/
