[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
CN = jezebel

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = jezebel
DNS.2 = jezebel.hale-gopher.ts.net
DNS.3 = localhost
DNS.4 = *.localhost
IP.1 = 127.0.0.1
IP.2 = ::1
