<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
<link rel="stylesheet" href="/assets/css/terminal-0.7.1.min.css" />
<link rel="stylesheet" href="/assets/css/animate-3.7.2.min.css" />
<link rel="stylesheet" href="/assets/css/console.css" />


{%- include meta.html -%}
</head>

<body class="terminal">
  <div class="container">
    <div class="terminal-nav">
      <header class="terminal-logo">
        <div class="logo terminal-prompt">
          {%if page.url == "/" %}
          <font color="#b58900">micheal</font>@<a href="/">ecliptik.com</a>:<font color="#2aa198">~</font>🚀<font color="dc322f">➜</font>
          {% else %}
          <font color="#b58900">micheal</font>@<a href="/">ecliptik.com</a></font>:<font color="#2aa198">{{ page.url }}</font>🚀<font color="dc322f">➜</font>
          {% endif %}
        </div>
      </header>
      <nav class="terminal-menu">
       <ul vocab="https://schema.org/" typeof="BreadcrumbList">
         <li><a href="/">Home/</a></li>
         <li><a href="/blog/">Blog/</a></li>
         <li><a href="/about/">About/</a></li>
         <li><a href="/contact/">Contact/</a></li>
       </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    {{ content }}
    <div class="footer">
      &copy; {{ site.time | date: '%Y' }} {{ site.author }} [<a href="mailto:{{ site.links.email }}">Email</a>|<a rel="me" href="https://fosstodon.org/@{{ site.links.mastodon }}">Mastodon</a>|<a href="/feed.xml">RSS</a>]
    </div>
  </div>
{%- include analytics.html -%}
</body>
</html>
