---
layout: default
---
<nav class="breadcrumb" aria-label="Breadcrumb navigation">
  <a href="/">~</a> <span class="breadcrumb-separator">></span>
  <a href="/blog/">blog</a> <span class="breadcrumb-separator">></span>
  <a href="/blog/{{ page.date | date: '%Y' }}/">{{ page.date | date: "%Y" }}</a> <span class="breadcrumb-separator">></span>
  <span class="breadcrumb-current">{{ page.title | truncate: 50 }}</span>
</nav>
<h1>{{ page.title }}</h1>
<h4>{{ page.date | date: "%b %d, %Y" }}
[
  {%- for tag in page.tags %}
    {%- capture tag_name %}{{ tag }}{%- endcapture %} <a href="/tag/{{ tag_name }}"><nobr>#{{ tag_name }}</nobr></a>
  {%- endfor %} ]
</h4>

{% include toc.html html=content class="toc__list" item_class="toc__sublist" h_min=2 h_max=3%}

{{ content }}
